.start_button {

}

.gameboard  {
  width: 320px;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0px 0px 3px 1px #95a5a6;
  border-radius: 3px;
}

.gameboard__options  {
  width: 320px;
  height: auto;
  min-height: 50px;
  overflow: hidden;
  margin: auto;
  margin-top:30px;
  text-align: center;
  /*background-color: white;
  box-shadow: 0px 0px 3px 1px #95a5a6;
  border-radius: 3px;*/
}

.gameboard__timer {
  font:35px "Source Sans Pro";
  font-weight: 500px;
  color:#3d3d3d;
}

.gameboard__start-button  {
  width: auto;
  height: auto;
  padding-right: 5px 10px 5px 10px;
  background-color: #2ecc71;
  border:0;
  font:25px "Source Sans Pro";
  color:white;
  margin: auto;
  border-radius: 3px;

}

.gameboard__board {
  width: 312px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: auto;
  /*border: 10px solid #d35400;*/
  /*background-color: #bdc3c7;*/
  background-image: url(../../images/stain-glass.png); 
  /*background-image: url(http://fotobg.ru/upload/img1345901978.jpg);*/
  background-size: 312px 312px; 
  padding: 4px;
  /*border-radius: 5px;*/
}

.gameboard__cover {
  width: 312px;
  height: 250px;
  padding: 4px;
  background-color: white;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}

.gameboard__cover_slideup  {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: slide-up;
  -webkit-animation-iteration-count : 1;
  -webkit-animation-fill-mode : forwards;
}

@-webkit-keyframes slide-up {
  0% {
    top:0px;
  }

  100% {
    top:-260px;
  }
}

.gameboard__cover_slidedown  {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: slidedown;
  -webkit-animation-iteration-count : 1;
  -webkit-animation-fill-mode : forwards;
}

@-webkit-keyframes slidedown {
  0% {
    top:-260px;
  }

  100% {
    top:0px;
  }
}

.gameboard__tile  {
  width: 50px;
  height: 35px;
  background-color: #f39c12;
  float: left;
  color: white;
  text-align: center;
  font: 20px "Source Sans Pro";
  font-weight: 400;
  margin:1px;
  padding-top:15px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px #bdc3c7;
}

.gameboard__tile-point  {
  width: auto;
  height: auto;
  font: 10px "Source Sans Pro";
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  right: 2px;
}

.gameboard__tile_selected {
  background-color: #27ae60;
}

.gameboard__tile_disabled {
  background-color: #dddddd;
  opacity: 0.9;
}

.gameboard__button  {
  width: auto;
  border: 0;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 20px 0px;
  font: 14px "Source Sans Pro";
  font-weight: 400;
  color: white;
  border-radius: 3px;
}

.gameboard__button_add  {
  background-color: #27ae60;
  float: left;
}

.gameboard__button_clear {
  background-color: #c0392b;
  float: right;
}



.gameboard__scoreboard {
  width: 94%;
  height: auto;
  float: left;
  padding: 3%;
  padding-top: 40px;
  position: relative;
  min-height: 30px;
}

.gameboard__total-score {
  width: 70px;
  height: 50px;
  background-color: #ecf0f1;
  box-shadow:inset 0px 0px 3px 0px #bdc3c7;
  border-radius: 70px;
  position: absolute;
  top: -35px;
  left: 121px;
  padding-top:20px;
  font:25px "Source Sans Pro";
  font-weight: 500;
  text-align: center;
  color:#5d5d5d;
  z-index: 2;
}

.gameboard__scoreboard-row  {
  width: 95%;
  height: auto;
  padding: 2%;
  border-left: 5px solid #dddddd;
  clear: both;
  background-color: #ecf0f1;
  border-radius: 3px;
  float: left;
  margin-bottom:1px;
}

.gameboard__scoreboard-row_no-border  {
  border-bottom: 0px !important;
}

.gameboard__clear-word {
  font: 20px "WebSymbolsRegular";
  color: #c0392b;
  margin-right: 10px;
}

.gameboard__score-word  {
  width: 100px;
  font: 20px "Source Sans Pro";
  font-weight: 400;
  color: #5d5d5d;
  padding-right: 20px;
}

.gameboard__score-point {
  font: 18px "Source Sans Pro";
  font-weight: 400;
  color: #5d5d5d;
  float: right;
}