<div class="login">
	<h1 class="login__header">Login to play WordStreak</h1>
	<p class="login__signup-message">
		new player<span class="login__signup" ng-click="loadSignupForm()">Sign Up here</span>
	</p>

	<div class="login__form-wrapper">
		<input type="text" ng-model="username" class="login__username" placeholder="Email"/>
		<input type="password" ng-model="password" class="login__password" placeholder="Password"/>
	</div>

	<button class="login__button" ng-show="" ng-click="signin()">Login</button>
	<button class="login__button" ng-show="" ng-click="signup()">Register</button>
</div>