<div class="menu">
  <div class="menu__avatar-wrapper">
    <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="menu__avatar"/>
    <h3 class="menu__welcome">Welcome,</h3>
    <h2 class="menu__name">Jaison Justus</h2>
  </div>
  <div class="menu__point">
    <div class="menu__ornament menu__ornament_red"></div>
    <span class="menu__point-text_big">3.7</span>
    <span class="menu__point-text_small">Kudos earned</span>
  </div>
  <div class="menu__point">
    <div class="menu__ornament menu__ornament_red"></div>
    <span class="menu__point-text_big">2.3s</span>
    <span class="menu__point-text_small">Fast streak</span>
  </div>
</div>